<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>RateMyPlacement.co.uk</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">
		<!-- Styles -->
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/mediaq-dev.css" data-premailer="ignore">
		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
		<style type="text/css">
			h1,h2,h3,h4,h5,h6 {color: #444;}
			p, li {color: #666;}
			a {color: #225FBB;}
			.prose-wrap > h1 {margin-top: 0;}
		</style>
		<!-- Styles /-->
	</head>
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
		<center>
			<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="backgroundTable">
				<tr>
					<td align="center" valign="top" class="full-header">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									{% include 'header' %}
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="block-divider">&nbsp;</td>
				</tr>
				<tr>
					<td align="center" valign="top" class="outer-wrap">
						<table border="0" cellpadding="0" cellspacing="0" class="wrap">								
							<tr>
								<td class="block-border"> 
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="prose-wrap">
												{% block prose %}{% endblock %} 
											</td>
										</tr>
									</table>                              
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="block-divider">&nbsp;</td>
				</tr>
			</table>
		</center>
	</body>
</html>