// Core Variables
// Don't touch unless you know what they do

	// Layout
	@wrapWidth: 540px;
	@imp: !important;

	// Base type
	@baseFontSize: 14px;
	@baseLineHeight: 23px;

	// Default Colours
	@bgBlue: #213561;
	@VeryLightGrey: #FAFAFA;
	@LightGrey: #F8F8F8;
	@HeroBg: #355a9b;

	@LightBlue: #d3e3f0;
	@MediumBlue: #2B6BA3;
	@DarkBlue: #0A3555;
	@Green: #77C25E;
	@Yellow: #FFCC00;
	@Red: #cf4c49;

	@HeroDarkBlue: #132e59;
	@HeroLightBlue: #2f62a4;



// Branding Colours

	// Global
	@BodyBackground: #F8F8F8;
	@PreBackground: #F8F8F8;

	// Body Copy Vars
	@fontBody: 'HelveticaNeue',Helvetica, Arial, sans-serif;
	@bodyCopy: #666666;
	@bodyCopyWeight: normal;

	// Header Vars
	@fontHeader: 'HelveticaNeue',Helvetica, Arial, sans-serif;
	@bodyHeader: #333333;
	@bodyHeaderWeight: 700;
	@bodyHeaderTransform: initial;

	// Link Colour
	@linkColor: #06C;
	@linkDecoration: none;

	// Button Colours
	@ButtonColor: #06C;
	@ButtonText: #FFFFFF;
	@ButtonColorAlt: #b13018;
	@ButtonTextAlt: #FFFFFF;

	// Header colour
	@HeaderBG: #000000;
	@HeaderShadow: 0 0 10px rgba(0,0,0,0.2);
	@HeaderBorder: #EEEEEE;
	@HeaderPadding: 10px;













