{% layout "style-guide" %}

{% block preheader %}
Hi {~firstname~}, This is the preheader text that will show in the inbox below the subject line.
{% endblock %}

{% block prose %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h1 first">
			This a H1 tag
		</td>
	</tr>
	<tr>
		<td class="h2">
			This a H2 tag
		</td>
	</tr>
	<tr>
		<td class="h3">
			This a H3 tag
		</td>
	</tr>
	<tr>
		<td class="h4">                      
			This a H4 tag
		</td>
	</tr>
	<tr>
		<td class="h5">
			This a H5 tag
		</td>
	</tr>
	<tr>
		<td class="p">
			This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit,  ullamco ut labore et dolore magna aliqua. Ut enim ad minimexercitation ullamco laboris nisi ut aliqu.
		</td>
	</tr>
	<tr>
		<td class="p">
			Here's some <strong>strong text</strong> in a paragraph.
		</td>
	</tr>
	<tr>
		<td class="p">
			Here's some <em>emphasised text</em> in a paragraph.
		</td>
	</tr>	
	<tr>
		<td class="ul">
			<table border="0" cellspacing="0" cellpadding="0" >
				<tr>
					<td width="15">
						&bull;
					</td>
					<td class="li">
						An unordered list item
					</td>
				</tr>
				<tr>
					<td width="15">
						&bull;
					</td>
					<td class="li">
						An unordered list item
					</td>
				</tr>
				<tr>
					<td width="15">
						&bull;
					</td>
					<td class="li">
						A multi line list item. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						proident, sunt.
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="ol">
			<table border="0" cellspacing="0" cellpadding="0" >
				<tr>
					<td width="15">
						1.
					</td>
					<td class="li">
						An ordered list item
					</td>
				</tr>
				<tr>
					<td width="15">
						2.
					</td>
					<td class="li">
						An ordered list item
					</td>
				</tr>
				<tr>
					<td width="15">
						3.
					</td>
					<td class="li">
						A multi line list item. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						proident, sunt.
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="dt">
			This a  definition lists, definition term
		</td>
	</tr> 
	<tr>
		<td class="dd">
			This is the defintion of that term
		</td>
	</tr> 
	<tr>
		<td class="p">
			<a href="http://www.ratemyplacement.co.uk">This is a link</a>
		</td>
	</tr>
	<tr>
		<td class="p">
			<a class="reset" href="http://www.ratemyplacement.co.uk">This is a reset link</a>
		</td>
	</tr>
	<tr>
		<td class="small">
			This is small text, great for terms &amp; conditions.
		</td>
	</tr>	
	<tr>
		<td class="cta">
			<table border="0" cellspacing="0" cellpadding="0"  align="left">
				<tr>
					<td >
						<a href="#">This is a Default Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cta cta-alt">
			<table border="0" cellspacing="0" cellpadding="0"  align="left">
				<tr>
					<td >
						<a href="#">This is a Alternate Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cta cta-green cta-full">
			<table border="0" cellspacing="0" cellpadding="0"  align="left">
				<tr>
					<td >
						<a href="#">This is a Full Width Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cta cta-green cta-small">
			<table border="0" cellspacing="0" cellpadding="0"  align="left">
				<tr>
					<td >
						<a href="#">This is a Small Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cta cta-green cta-centered">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="#">This is a Centered Button</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

{% block extratype %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h2 first">
			New Experimental Components
		</td>
	</tr>
	<tr>
		<td class="p">
			These new components need some work before they are ready for production.
		</td>
	</tr>
	<tr>
		<td class="h5">
			HR example
		</td>
	</tr>
	<tr>
		<td class="p">
			This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</td>
	</tr>	
	<tr>
		<td class="hr-top">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td class="hr-bottom">
			&nbsp;
		</td>
	</tr>	
	<tr>
		<td class="p">
			This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Ut enim ad minim veniam, huis nostrud exercitation ullamco laboris nisi ut aliqu.
		</td>
	</tr>
	<tr>
		<td class="h5">
			Pull quote example
		</td>
	</tr>
	<tr>
		<td class="pullquote">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top" class="quote-mark">&ldquo;</td>
					<td class="quote">
						I was working on very large client accounts as well as liaising with senior management in operations and asset management. Although i wasn’t given full responsibility of the projects that I was working on, I was given a significant amount of work to do which was key to the success of the project.
						<span class="cite">- by John Doe</span>
					</td>
					<td valign="bottom" class="quote-mark">&rdquo;</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="media-object">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<img src="http://placehold.it/60x60/eeeeee">
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									First media object
								</td>
							</tr>
							<tr>
								<td class="p">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur ut labore et dolore mag.
									<br><a href="#">Read more &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="media-object last">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<img src="http://placehold.it/60x60/d1d1d1">
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									Second media object
								</td>
							</tr>
							<tr>
								<td class="p">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur ut labore et dolore mag.
									<br><a href="#">Read more &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
		<tr>
		<td class="media-object">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="object" width="60">
						<img src="http://placehold.it/60x60/eeeeee">
					</td>
					<td class="copy">
						<table class="prose">
							<tr>
								<td class="h5 first">
									Third media object
								</td>
							</tr>
							<tr>
								<td class="p">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur ut labore et dolore mag.
									<br><a href="#">Read more &rarr;</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

{% block proseimages %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			Images within copy and captions
		</td>
	</tr>
	<tr>
		<td class="p">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt consectetur ut labore et dolore mag. Lorem ipsum dolor sit amet,
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad min.
		</td>
	</tr>
	<tr>
		<td class="h5">
			A basic image that is full width
		</td>
	</tr>
	<tr>
		<td class="p">
			Where possible all images included in the main body copy should be full width, all the possible variations are shown below.
		</td>
	</tr>
	<tr>
		<td class="img">
			<img src="http://placehold.it/480x150/eeeeee">
		</td>
	</tr>
	<tr>
		<td class="h5">
			An image that is full width with a caption
		</td>
	</tr>
	<tr>
		<td class="p">
			Image captions are very important, the caption text is some of the most read text on any page. The image draws the eye and the text in turn is read a lot more than a standalone paragraph. Captions can also include links.
		</td>
	</tr>
	<tr>
		<td class="img">
			<img src="http://placehold.it/480x150/eeeeee">
		</td>
	</tr>
	<tr>
		<td class="img-caption">
			This is the image caption
		</td>
	</tr>
	<tr>
		<td class="h5">
			An image that isn't full width
		</td>
	</tr>
	<tr>
		<td class="p">
			Because it isn't full width it should be centered, if you float images to the left or right on mobile your going to have a bad time.
		</td>
	</tr>
	<tr>
		<td class="img centered">
			<img src="http://placehold.it/240x150/eeeeee">
		</td>
	</tr>
	<tr>
		<td class="h5">
			An image that isn't full width but has a caption
		</td>
	</tr>
	<tr>
		<td class="p">
			The image isn't full width and has a caption so a light frame is applied to help group the image and caption together.
		</td>
	</tr>
	<tr>
		<td class="img framed">
			<img src="http://placehold.it/240x150/000000">
		</td>
	</tr>
	<tr>
		<td class="img-caption framed">
			This is the image caption
		</td>
	</tr>
</table>
{% endblock %}


{% block company %}
<td >
	<table border="0" cellpadding="0" cellspacing="0" class="left" align="left">
		<tr>
			<td>
				<a href="#">
					<img class="img-fix" src="http://placehold.it/200x150/eeeeee" width="148" >
				</a>
			</td>
		</tr>
		<tr>
			<td class="divider">&nbsp;</td>
		</tr>
		<tr>
			<td class="cta cta-green">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="#">Apply Now</a>
					</td>
				</tr>
			</table>
		</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="right" align="right">
		<tr>
			<td class="h3 first">The company block</td>
		</tr>
		<tr>
			<td class="p">This is block is used to give a quick overview of the company, the job offered and the deadline. CTA and logo should click to the company profile if there are multiple jobs.</td>
		</tr>        
		<tr>
			<td class="p"><strong>Deadline to apply: XXth Month</strong></td>
		</tr>                           
	</table>
</td>
{% endblock %}


{% block jobstable %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">Jobs Table Example</td>
	</tr>
	<tr>
		<td class="p">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercita.	 
		</td>
	</tr>
	<tr>
		<td class="h3">
			Roles Available
		</td>
	</tr>
	<tr>
		<td class="jobs-table">
			<table class="prose" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="icon"><span>Hot</span></td>
					<td class="title"><a href="#">Summer Analyst Programme</a></td>
					<td class="arrow"><a href="#">&#9658;</a></td>
				</tr>
				<tr>
					<td class="icon"><span>Hot</span></td>
					<td class="title"><a href="#">Digital Marketing Internship</a></td>
					<td class="arrow"><a href="#">&#9658;</a></td>
				</tr>
				<tr>
					<td class="icon"><span>Hot</span></td>
					<td class="title"><a href="#">Social Media Internship</a></td>
					<td class="arrow"><a href="#">&#9658;</a></td>
				</tr>
				<tr>
					<td class="cta cta-blue cta-centered cta-small view-all" colspan="3">
						<table border="0" cellspacing="0" cellpadding="0"  align="center">
							<tr>
								<td>
									<a href="#">View all roles</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="p">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation.
		</td>
	</tr>
</table>
{% endblock %}


{% block hero %}
<table class="hero" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="#">
				<img src="http://placehold.it/540x180/eeeeee" alt="your place is here" class="img-fix">
			</a>
		</td>
	</tr>
</table>
{% endblock %}

{% block heroprose %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			This is a hero layout where the hero image is flush with the prose
		</td>
	</tr>
	<tr>
		<td class="p ">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</td>
	</tr>
</table>
{% endblock %}

{% block herocaption %}
<table class="hero" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="#">
				<img src="http://placehold.it/540x180/eeeeee" alt="your place is here" class="img-fix">
			</a>
		</td>
	</tr>
	<tr>
		<td class="hero-caption"> 
			This is the caption heading for the image
		</td>
	</tr>
</table>
{% endblock %}

{% block herocaptionprose %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="p first">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</td>
	</tr>
</table>
{% endblock %}

