<table class=" wrap"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="header-wrap">
			<table class="header" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="logo">
						<a href="http://www.careers.dyson.com/"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-dyson/dyson-logo.png" alt="Dyson"></a>
					</td>
					<td class="social" align="right">
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<a href="http://www.facebook.com/dyson"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-dyson/facebook.png" alt="Dyson Facebook"></a>
								</td>
								<td>
									<a href="http://www.twitter.com/Dyson"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-dyson/twitter.png" alt="Dyson Twitter"></a>
								</td>
								<td>
									<a href="http://www.linkedin.com/company/dyson"><img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-dyson/linkedin.png" alt="Dyson LinkedIn"></a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
